# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# SQLite
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Variables de entorno
.env
.env.*

# Sistema operativo
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Distribución
build/
dist/
*.egg-info/